<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/piyush.sonkar/IdeaProjects/Hcl_Project">
        <classes>
            <class name="Runners.Home_page_run" />
        </classes>

    </test>
</suite>